<template>
  <tree :nodes="items" />
</template>

<script>
import Tree from "vuejs-tree";
import items from "./organization-list-item.json";

export default {
  name: "organization-chart",
  components: {
    Tree
  },
  data: () => ({
    items
  })
};
</script>
